<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logconsole" xsi:type="Console"
			 useDefaultRowHighlightingRules="false">

			<layout type='JsonLayout' suppressSpaces='true' EscapeForwardSlash='true'>
				<attribute name='appId' layout='NlogTest' />
				<attribute name='programId' layout='${processname}'/>
				<attribute name='instanceName' layout='${hostname}'/>
				<attribute name='time' layout='${longdate}'/>
				<attribute name='source' layout='${logger}'/>
				<attribute name='subject' layout=''/>
				<attribute name='level' layout='${level}'/>
				<attribute name='content' layout='${message}'  encode='true' EscapeUnicode='false' />
				<attribute name='ipAddress' layout='${local-ip}'/>
				<attribute name='macAddress' layout=''/>
				<attribute name='traceId' layout='${activity:property=TraceId}'/>
			</layout>
			
		</target>
	</targets>
	<rules>
		<logger name="Microsoft.Hosting.*" levels="Trace,Debug,Info,Error,Fatal" writeTo="logconsole" />
		<logger name="NlogTest.*" levels="Trace,Debug,Info,Error,Fatal" writeTo="logconsole" />
	</rules>
</nlog>